<!DOCTYPE html>
<html lang="en">
<head>
{% block content %}
<h1>Accuracy Aggregator</h1>
{{ data.to_html(classes="table table-striped") | safe}}
{% endblock %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farzi</title>
</head>
 <link rel="stylesheet" href="C:/Users/Um Ar/R Projects/UN MINOR/Python Scripts/Deploy/templates/style.css">
<style>

.button:hover {background-color: #2e412e}

.button:active {
  background-color: #898b8a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
    :hover: background-color:black;
	font-family: 'Open Sans', sans-serif;
}
</style>
</html>

